<app-raicerk-logo></app-raicerk-logo>

<h1>
  {{title}}
</h1>

<h2 [class]="miclasedecss">Mi titulo</h2>

<article>

    ¿Cómo te llamas?
    <input type="text" [(ngModel)]="mitexto">
    <button (click)="cambiar()">Cambiar</button>
    <br>
    <span class="rojo">Mi nombre es <b>{{nombre}}</b></span>

</article>

<hr>

<article>

    ¿Cómo te llamas?
    <input type="text" [(ngModel)]="nombresillo">
    <br>
    <span class="rojo">Mi nombre es <b>{{nombresillo}}</b></span>

</article>

<app-raicerk-logo></app-raicerk-logo>

<hr>
<app-api-rest>holiwis</app-api-rest>
